TestWork_Baltbet.Web/TestWork_Baltbet.Web/Connected Services/ServiceReference/BaltbetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BaltbetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWork_Baltbet.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaltbetService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_CheckUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLogin" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_CheckUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_GetListAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAccounts" />
  </wsdl:message>
  <wsdl:message name="IBaltbetService_GetListAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBaltbetService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaltbetService/AddUser" message="tns:IBaltbetService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaltbetService/AddUserResponse" message="tns:IBaltbetService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaltbetService/CheckUserLogin" message="tns:IBaltbetService_CheckUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaltbetService/CheckUserLoginResponse" message="tns:IBaltbetService_CheckUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaltbetService/CheckUser" message="tns:IBaltbetService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaltbetService/CheckUserResponse" message="tns:IBaltbetService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaltbetService/GetListAccounts" message="tns:IBaltbetService_GetListAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaltbetService/GetListAccountsResponse" message="tns:IBaltbetService_GetListAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBaltbetService" type="tns:IBaltbetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBaltbetService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <soap:operation soapAction="http://tempuri.org/IBaltbetService/CheckUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IBaltbetService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAccounts">
      <soap:operation soapAction="http://tempuri.org/IBaltbetService/GetListAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaltbetService">
    <wsdl:port name="BasicHttpBinding_IBaltbetService" binding="tns:BasicHttpBinding_IBaltbetService">
      <soap:address location="http://localhost:8080/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>